body{
    background-color: #EAF6F6;
}
hr{
  border-style: none;
  border-width: 3px;
  border-top-style: dashed;
  height: 2px;
  width: 30%;
  background-color: #EAF6F6;
  border-color: grey;
}
h2{
  color: blue;
}
